body {
	font-family: sans-serif;
}

header {
	text-align: center;
}

#calendar {
    left: 16.9%;
    top: 4%;
    position: absolute;
	width: 90%;	
}
.month {
	text-align: center;
}
#calendar a {
	color: #0d6efd;
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width:13%;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

#calendar ul.weekdays {
	height: 70px;
	width: 92%;
	background: #0d6efd;
}

#calendar ul.weekdays li {
	margin-top: 1%; /*align days of the weak*/
	margin-left:1%; /*align days of the weak*/
	text-align: center;
	text-transform: uppercase;
	line-height: 100%;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar .days li {
	height: 150px;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: #333;
	color: #fff;
	width: 10%;
	border-radius: 50%;
	float: right;
}

#calendar .event {
	clear: both;
	display: block;
	font-size: 85%;
	border-radius: 5%;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #666;
	margin: 9px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}